.smartSearch{
	position: relative;
}
.smartSearch .smartSearch-form{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}
.smartSearch .js-smartSearch-input{
	display: block;
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
	height: 40px;
	margin: 0;
	padding: .375rem .75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	background-color: #414141;
	background-clip: padding-box;
	border: 1px solid #414141;
	border-right: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-top-left-radius: .25rem;
	border-top-right-radius: 0;
    	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: 0;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.smartSearch .js-smartSearch-input:focus{
	outline: 0;
}
.smartSearch .js-smartSearch-clear,
.smartSearch .js-smartSearch-submit,
.smartSearch .smartSearch-more{
	display: block;
	height: 40px;
	margin-left: -1px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 1px solid #414141;;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	cursor: pointer;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.smartSearch .js-smartSearch-clear{
	display: none;
	width: 38px;
	background-color: #414141;
	background-image: url('img/clear.svg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
}
.smartSearch .js-smartSearch-clear.visible{
	display: none;
}
.smartSearch .js-smartSearch-clear:hover{
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.smartSearch .js-smartSearch-submit{
	color: #fff;
	background-color: #414141;
	border-color: #414141;
	border-left: 0;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	display: flex;
    align-items: center;
}
.smartSearch .js-smartSearch-submit:hover{
	/* background-color: #F0AB00;
	border-color: #F0AB00; */
}
.smartSearch .js-smartSearch-result{
	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 1000;
	margin-top: 10px;
	padding: 18px;
	background-color: white;
	border-radius: .25rem;
	border: 1px solid #ced4da;
}
.smartSearch .js-smartSearch-result.open{
	visibility: visible;
	opacity: 1;
	background: #F0AB00;
    padding-bottom: 35px;
}
.smartSearch .js-smartSearch-result.loading{
	visibility: visible;
	opacity: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-color:#fff;
	background-image: url("img/loading.svg");
}	
.smartSearch .js-smartSearch-result-item{
	display: none;
	padding-bottom: 25px;
}
.smartSearch .js-smartSearch-result-item:first-child{
	border-top: 0;
}
.smartSearch-result-item-info{
	padding-top: 10px;
}
.smartSearch .js-smartSearch-result-item.visible,
.smartSearch .js-smartSearch-result-item[data-page="0"]{
	display: block;
}
.smartSearch .smartSearch-result-item-center{
	display: flex;
}
.smartSearch .smartSearch-result-item-picture{
	display: block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("img/img-not.jpg");
}
.smartSearch .smartSearch-result-item-data{
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
}
.smartSearch .smartSearch-result-item-picture + .smartSearch-result-item-data{
	width: calc(100% - 100px);
	padding-left: 15px;
}
.smartSearch .smartSearch-breadcrumb{
	display: flex;
	flex-wrap: wrap;
	padding: 0 0;
	margin-bottom: 1rem;
	list-style: none;
}
.smartSearch .smartSearch-breadcrumb span{
	color: #F0AB00;
	font-size: 14px;
	text-decoration: underline;
}
.smartSearch .smartSearch-breadcrumb span:hover{
	color: #F0AB00;
	text-decoration: none;
}
.smartSearch .smartSearch-breadcrumb span + span{
    padding-left: .5rem;
}
.smartSearch .smartSearch-breadcrumb span + span::before{
	float: left;
	padding-right: .5rem;
	color: #6c757d;
	content: "/";
}
.smartSearch .smartSearch-result-item-name{
	color: #fff;
	text-decoration: underline;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
}
.smartSearch .smartSearch-result-item-name:hover{
	color: #fff;
	text-decoration: none;
}
.smartSearch .smartSearch-result-item-price .new{
	color: red;
	font-weight: 600;
}
.smartSearch .smartSearch-result-item-price .old{
	text-decoration: line-through;
	color: #ababab;
}
.smartSearch .smartSearch-more{
	margin-top: 10px;
	color: #fff;
    	background-color: #F0AB00;
    	border-color: #F0AB00;
}
.smartSearch .smartSearch-more:hover{
	background-color: #F0AB00;
	border-color: #F0AB00;
}