@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
/* кнопки */
.buttons_block{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.button_item{
    width: 33%;
}
.but_small{
    background: #F0AB00;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}
.but_middle{
    background: #F0AB00;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}
.but_big{
    background: #F0AB00;
    border-radius: 5px;
    padding: 13px 33px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.but_big:hover, .but_middle:hover, .but_big:hover{
    text-decoration: none;
    color: #fff;
}
.contacts body {
    margin: 0 auto;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
* {
    box-sizing :border-box;
}

a{
    text-decoration: none;
    color: #161616;
}    
a:hover{
    text-decoration: none;
    color:hsl(44, 65%, 13%);
}
h2,h3{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0 10px 0;
}
p{
    margin-bottom: 10px;
}
iframe{
    width: 100%!important;
}
div.bx-blue .btn.btn-default {
    background: #F0AB00;
    border-color: #F0AB00;
}
div.bx-blue .btn.btn-default:hover {
    background: #F0AB00;
    border-color: #F0AB00;
}
.header a{
    text-decoration: none;
}
.header a:hover {
    color: #161616;
    text-decoration:none;
}
.btn_y{
    background: #F0AB00;
    border-color: #F0AB00;
    border-radius: 5px;
    color: #fff;
}
.btn_yb{
     border: solid 1px #F0AB00;
     border-color: #F0AB00;
     border-radius: 5px;
     color: #000;
}
.btn_20{
    font-size: 20px;
}
.btn_25{
    font-size: 25px;
}
.pl-10{
    padding-left: 10px;
}
.pl-25{
    padding-left: 25px;
}
.pt-10{
    padding-top: 10px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.mt-0{
    margin-top: 0;
}
.ml-25{
    margin-left: 25px;
}
.text-min{
    font-size: 10px;
    color: #D4D4D4;
}
.bradcrumps{
    padding: 20px 0 20px 50px;
}
.bradcrumps a{
    color:#646464;
    font-size: 14px;
}
.bradcrumps img{
    padding: 0 10px;
}
.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}

.page_text{
   padding: 30px 0 0 50px;
}
.content_page{
    padding: 30px 50px;
}
/*Main blocks*/
.wrapper {
    /* display: flex; */
    width: 100%;
}
.head{
    display: flex;
    padding: 37px 0 37px 0;
}
.head .logo{
    padding-left: 35px;
    padding-top: 10px;
}
.head .logo_img{
    padding: 0;
    background: url(/img/logo.gif);
    background-repeat: no-repeat;
    width: 265px;
    height: 59px;
}
.head .search{
    margin-left: 50px;
}
.head #search{
    width: 401px;
    height: 46px;
}
.bannerBlock{
text-align: center;
}
.head .search_form {
    position: relative;
    margin: 0 auto;
    border: 2px solid #F0AB00;
    box-sizing: border-box;
    border-radius: 6px;
    width: 510px;
    margin-top: 10px;
}
.head .search input, button {
    border: none;
    outline: none;
    border-radius: 3px;
}
.head .search input {
    width: 100%;
    height: 46px;
    padding-left: 15px;
    padding-top: 8px;
}
.head .search ::placeholder {
    font-size: 20px;
    color: #8D8D8D;
    line-height: 24,38px;
}
.head .search button {    
    height: 46px;
    width: 109px;
    position: absolute;
    right: 0px;
    background: #F0AB00;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0;    
    color: #fff;
}

.head .button_block{
    display: flex;
    padding-left: 50px;
}
.head .head_contacts{
    padding-left: 40px;
}
.head .head_contacts p{
    margin: 4px 0 3px 0;
}
.head .head_contacts .head_phone{
    font-size: 18px;
    font-weight: 600;
}
#backCallModal p{
    padding: 10px 0 0 20px;
    margin-bottom: 0;
}
.back_call_list .input-group{
    width: 90%;
    margin: 0 auto;    
    padding-bottom: 10px;
}
/* .head .head_contacts .head_call_back{
    font-size: 17px;
    font-weight: 400;
    padding: 3px 15px;
} */

.head .head_icon{
    padding-left: 30px;
    padding-top: 10px;
}
.head .head_icon img{
    width: 50px;
}
.head .region p{
    font-size: 14px;
    color:#646464;
    font-weight: 400;
    margin: 6px 0 10px 0px;
}
.head .region a{
    font-family: "Montserrat", sans-serif;
    border: none;
    border-bottom: 2px dashed #F0AB00;
    font-size: 16px;
    width: 100px;
}
select:active, select:hover, select:focus{
    outline:none
}
.head .region option{
    border: none;
}
.head .search input::-webkit-input-placeholder       {font-size: 16px;}
.head .search input::-moz-placeholder                {font-size: 16px;}
.head .search input:-moz-placeholder                 {font-size: 16px;}
.head .search input:-ms-input-placeholder            {font-size: 16px;}
.head .search input    {font-size: 16px;}
.head .search input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.head .search input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.head .search input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.head .search input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}
.smartSearch-result-item-data, .smartSearch-empty{
    font-size: 13px;
}
/* Menu */
.menu{
    display: flex;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    max-width: 917px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.menu .menu_item{
    font-size: 20px;
    font-weight: 500;
}
.dropbtn {
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 850px;
    height: 450px;
    top: 50px;
    background: #fff;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    font-weight: 400;
}
.dropdown-content-comp {
    display: none;
    position: absolute;
    min-width: 250px;
    height: auto;
    top: 30px;
    background: #fff;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    font-weight: 400;
}
.dropdown-item-comp {
    padding: 7px 10px;
    border-bottom: 0.1px solid #ddd;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown:hover .dropdown-content-comp {
    display: block;
}
.list-group-menu{
    display: flex;
    justify-content: space-between;
}
.list-group-menu .fade {
    opacity: 1;
}
.menu_left_block {
    background: #F0AB00;
    font-weight: 600;
    width: 180px;
    height: 450px;
}
.menu_left_block a {
    color: #fff;
    padding: 20px;
    font-size: 15px;
}
.menu_left_block a:hover {
    color: #F0AB00;
    background: #fff;
}
.menu_left_block a:active {
    color: #F0AB00;
    background: #fff;
}
.menu_left_block a:focus {
    color: #F0AB00;
    background: #fff;
}
.menu_right_block {
    width: 80%;
    height: 100%;
}
.menu_right_block a{
    padding-bottom: 15px;
}
.dropdown-content a {
    text-decoration: none;
    display: block;
}
.menu_lvl2 {
    display: flex;
    justify-content: flex-start;
}
.menu_lvl2_item{
    width: 25%;    
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 5px;
}
.menu_lvl2_item_equipment{
    width: 50%;    
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 5px;
}
.menu_lvl2_item_equipment .menu_lvl2_item_link{
    align-items: center;
}
.menu_lvl2_item_link{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 185px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px #ddd;
    margin-top: 5px;
}
.menu_lvl2_item_link img{
    width: 120px;
    align-self: center;
}
.lvl2_item {
    font-size: 13px;
    font-weight: 600;
    padding: 0 10px;
}
.menu_lvl3_item{
    font-size: 14px;
    padding: 0 20px;
}
.menu_lvl3_item a{
    color: #161616;
}
.menu_lvl3_item a:hover{
    color: #F0AB00;
}
.all_catalog{
    position: absolute;
    bottom: 0;
    text-align: right;
    right: 40px;
    font-weight: 500;
    bottom: 0;
    font-size: 14px;
}
.show {
    display: block;
}
.nav-tabs{
    border: 0!important;
}
.nav-tabs li{
    width: 181px;
}
.dropdown-menu{
    width: 226px;
    padding: 0!important;
    top: 15px!important;
	border-radius: 5px;
}
.dropdown-menu a:hover{
    color: #fff;
    background: #F0AB00;
}
.menu_item .dropdown-item{
    padding: 17px 20px;
    border-bottom: 0.1px solid #000000;
}
/*Регионы*/
.region_list{
    display: flex;
}
.region_item{
    width: 50%;
    padding: 10px;
}
#regionModal .modal-body{
    padding: 10px;
}
#regionModal .modal-footer{
    padding: 10px;
}
/*content*/
.caption, .caption_main{
    display: flex;
    height: 70px;
    align-items: center;
    margin-top: -4px;
    background: rgba(237, 237, 237, 0.5);
    padding-bottom: 0;
    border: 0;
}
.caption .bx_catalog_tile_category_title{
    padding-bottom: 0;
    border: 0;
}
.caption a, .caption h1, .caption h2{
    color: #F0AB00!important;
    font-size: 25px;
    padding-left: 50px;
}
.caption_main a, .caption_main h1, .caption_main h2{
    color: #F0AB00!important;
    font-size: 25px;
    padding-left: 50px;
}
/*filter*/
.bx-filter-button-box{
	text-align: right;
}
.bx-filter{
	width: 90%;
}
.bx-filter .bx-filter-parameters-box-title span {
    color: #000;
    font-size: 13px;
}
#set_filter{
    background: #F0AB00;
    border-radius: 5px;
    padding: 8px 20px;
    color: #000;
	font-size: 14px;
    margin-right: 10px;
}
#del_filter{
	border-radius: 5px;
    padding: 8px 20px;    
	border: 1px solid #000;
    color: #000;
    text-decoration: none;
	font-size: 14px;
}
/*catalog*/
.catalog{
    display: flex;
    justify-content: space-around;
}
.catalog_item a{
	color: #fff;
}
.catalog_list_item a{
    color: #000;
}
.bx_catalog_tile_category_title{
	display: none;
}
.product-item-detail-tab-content{
font-size: 15px;
}
.page-item.active .page-link{
	background-color: #F0AB00!important;
    border-color: #F0AB00!important;
}
.catalog-section{
	padding-bottom: 50px;
}
.catalog_item{
    width: 431px;
    height: 100%;
    padding: 50px 0 50px 0;
}
.catalog_item img{
    padding-bottom: 26px;
    width: 100%;
    height: 202px;
}
.catalog_item .info_btn_block{
    display: flex;    
    height: 56px;
    align-items: center;
    text-align: center;
}
.catalog_item .info_btn{
    width: 100%;
    color: #fff;
    font-weight: 500;
    margin: 0;
}
.bx_catalog_tile_img, .bx-title{
	display:none!important;
}
.product-item-detail-tab-content{
	font-size:15px;
}
.catalog_list{
    display: grid;
    padding: 20px 0 40px 0;
    width: 339px;
    height: 350px;
}
.catalog_list_item{
    padding: 30px 0 0 22px;
}
.catalog_list_item p{
    color: #000;
    margin: 0;
    margin-left: 20px;
}
.catalog_list_item img{
    width: 5px;
    height: 13px;
    padding: 0;
    margin-top: 3px;
    position: absolute;
}
.section_list{
    padding-top: 40px;
}
.bx_catalog_tile{
	width: 300px;
	position: relative;
}
.bx-filter-button-box {
    text-align: center;
}
.catalog_list_block{
	right: 0;
}
.catalog_filter_block{
    left: 0;
    margin-top: 0;
    height: 100%;
}
.bx_catalog_tile_ul li{
	text-align: left;
	color: #161616;
	border-bottom: 1px solid #F0AB00;
	width: 270px;
	margin-bottom: 0!important;
	padding: 10px!important;
}
.bx_catalog_tile_ul li a{
	color: #161616!important;
}
.bx_catalog_tile_ul{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 270px;
}
.catalog-section{
    width: 100%;
    float: right;
}
.product-item-big-card .product-item-title a:hover{
	text-decoration: none;
	color: #000;
}
.bx-catalog-element{
    padding-bottom: 30px;
}
.product-item-detail-pay-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 2px solid #ddd;
}
.product-item-detail-properties{
    font-size: 14px;
    display: flex;
    flex-flow: wrap;
    max-width: 100%;
}
.detail_property_blocks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #ddd;
}
.detail_property_block1{
    width:50%
}
.detail_property_block2{
    text-align: right;
    color:#000; 
    width: 45%
}
.detail_property_block3{
    display: flex;
    flex-flow: wrap;
    width: 100%
}
.detail_property_block3 img{
    max-width: 100%;
    padding-bottom: 20px;
}
.detail_property_block3 a{
    padding-top: 20px;
}
.detail_property_files_block{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 200px;
}
/*catalog cart*/
.product-item{
	width: 233px;
	height: auto;
	margin: 0 auto;
}
.pagination-container{
	position: absolute;
	bottom: 0;
	right: 15px;
}
.product-item-image-wrapper{
	width:150px;
	height:150px;
	margin:0 auto;
	padding:0;
}
.product-item-image-original, .product-item-image-alternative{
	width:150px;
	height:150px;
	margin: 0 auto;
}
.product-item-big-card .product-item-title a{
	font-size:14px;
	font-weight: 500;
}
.product-item-big-card .product-item-title span{
	font-size:14px;
	font-weight: 500;
}
.product-item-title {
	overflow: hidden;
	white-space: inherit;
}

.bx-touch .product-item-title, .product-item-container.hover .product-item-title {
    overflow: hidden;
}
.propertys_cart{
	padding-top:25px;
}
.property_cart p{
	color: #3B3B3B;
	font-size: 11px;
}
.price_cart, .second_price_cart{
	font-size: 15px;
	color: red;
	width: 100%;
	text-align: center;
	float: left;
	padding-bottom: 10px;
	font-weight: 500;
}    
.price_cart p, .second_price_cart p{
	margin: 0;
}
.availability_card{
	font-size: 12px;
	font-weight: 400;
}    
.availability_card img{
	vertical-align: text-bottom;
}
.count_cart{
	width: 100%;
    text-align: center;
}    
.add_in_basket_cart{
    margin-top: 15px;
    height: 25px;
    width: 100%;
}
.btn_cart{
	background: #F0AB00;
    border-color: #F0AB00;
	border-radius: 5px;
	padding: 3px 34px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

.quantity-arrow-minus,
.quantity-arrow-plus {
	cursor: pointer;
	font-size: 15px;
	outline: none;
	background: none;
	border: 0;

}
.quantity-arrow-minus,
.quantity-arrow-plus{
	outline: none!important;
}
.quantity-num {
	font-size: 15px;
	border: 0;
	text-align: center;
	width: 40px;
}
.product-item-detail-tab-link{
    color:#F0AB00;
}
.product-item-detail-tab-link:after{
    background:#F0AB00;
}
.bx-filter .bx-ui-slider-track-container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
}
.catalog-block-header{
    color: #F0AB00!important;
    font-size: 25px;
    padding-left: 50px;
    display: flex;
    height: 70px;
    align-items: center;
    margin-top: -4px;
    background: rgba(237, 237, 237, 0.5);
    padding-bottom: 0;
    border: 0;
}
.adaptivn-slayder{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 380px;
}
.adaptivn-slayder .parag img {
    object-fit: contain;
    width: 100%;
    max-height: 400px;
    border: none !important;
    box-shadow: none !important;
}
.adaptivn-slayder .prev, .adaptivn-slayder .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.adaptivn-slayder .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.adaptivn-slayder .prev:hover,
.adaptivn-slayder .next:hover {
    background-color: rgba(25, 24, 24, 0.8);
}
.beksun-slayda{
    position: absolute;
    color: #f4f4f7;
    font-size: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px #141415, 0 0 1em #141415;
}
.uneizmen-akemada {
    text-align: center;
}
.noguma-pomoki-kadra{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.deystvuyus,
.noguma-pomoki-kadra:hover {
    background-color: #aaa;
}
.adaptivn-slayder .parag {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
    opacity: .4
    }
    to {
    opacity: 1
    }
}
@keyframes fade {
    from {
    opacity: .4
    }
    to {
    opacity: 1
    }
}
/*promo*/
.promo{
    padding: 50px 80px;
}
/*hit*/
.hit{
    padding: 50px 80px;
}
.hit .catalog-top{
    width: 100%;
}
/*card*/
.card_text p{
    color: #000;
    padding-top: 30px;
    width: 220px;
    height: 85px;
    text-align: left;
}
.card_price p, .card_status p{
    color: #000;
    width: 220px;
    height: 30px;
    text-align: left;
}
.card_price p{
    font-weight: 500;
}
.card_block{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.card_item{
    width: 20%;
}
.card_item a{
    font-size: 15px;
}
.card_marker{
    text-align: right;
}
.card_button{
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    background: #F0AB00;
    border-radius: 6px;
    justify-content: center;
    font-weight: 600;
}
.card_status{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.card_status_text{
    padding-left: 20px;
}
/*about*/
.about{
    text-align: center;
    padding: 50px 80px;
}
.about p{
    color: #000;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}
.about a{
    color: #fff;
    padding: 12px 65px;
    font-weight: 500;
}
.about_button{
    padding-top: 50px;
}

/*manufactors*/
.manufactors{
    height: 200px;
    text-align: center;
    padding-top: 5%;
}

/*contacts*/
.contacts{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 14px;
}
.contacts_item{
    width: 50%;
}
.contacts p{
    color: #000;
    line-height: 15px;
    padding-left: 30px;
}
.contacts img{
    position: absolute;
    /* margin-top: 15px; */
}
.contact_address{
    font-size: 17px;
    font-weight: 600;
}
.ymaps-2-1-78-copyright__link{
    font-size: 14px;
}

/*reviews*/
.reviews p, .reviews a{
    font-size: 17px;
}
.reviews_item p{
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    padding: 15px 0;
}
.reviews_item{
    padding: 50px 0;
    height: 500px;
}
.reviews .signature{
    color: #F0AB00;
    font-size: 16px;
    width: 300px;
    float: right;
    text-align: left;
    font-weight: 500;
}
.reviews .date{
    color: #F0AB00;
    font-size: 15px;
    font-weight: 500;
}
.reviews_backcall{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.reviews_backcall h2{
    color: #000;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 30px;
}
.reviews_backcall p{
    color: #000;
    font-size: 17px;
    padding-bottom: 40px;
}
.reviews_backcall .reviews_button a{
    padding: 10px 53px;
    font-weight: 500;
}
.reviews_button{
    text-align: center;
}
.reviews_email{
    height: 146px;
    display: flex;    
    align-items: center;
    justify-content: center;
}
.reviews_email p{
    padding-right: 20px;
	padding-top: 15px;
}
.reviews_email form {
    position: relative;
    border: 2px solid #F0AB00;
    box-sizing: border-box;
    border-radius: 6px;
    width: 400px;
}
.reviews_email input, button {
    border: none;
    outline: none;
    border-radius: 3px;
}
.reviews_email input {
    width: 100%;
    height: 32px;
    padding-left: 15px;
}
.reviews_email ::placeholder {
    font-size: 15px;
    color: #8D8D8D;
    line-height: 24,38px;
}
.reviews_email button {    
    height: 32px;
    width: 140px;
    position: absolute;
    right: 0px;
    background: #F0AB00;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    border-radius: 0;
    color: #fff;
}

/*footer*/
.footer{
    height: 405px;
    max-width: 1440px;
    margin: 0 auto;
    background: #646464;
    color:#fff;
    font-size: 15px;
}
.footer h2{
    font-size: 17px;
}
.footer_address{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 270px;
}
.footer_social{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.footer_bg{
    opacity: 0.9;
    height: 100%;
    padding: 37px 54px 36px 53px;
}
.footer_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_catalog_block{
    text-align: right;
}
.footer_content_oferta{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.oferta_block{
    width: 60%;
}
.footer a, .footer p, .footer h2{
    color: #fff!important;
    line-height: 17px;
}
.footer_content a{
    font-size: 15px;
}
.footer_soc{
    text-align: center;
}
.footer_bottom{
    width: 100%;
    font-size: 13px;
    margin-top: 6%;
}
.footer_bottom_block_left{
    float: left;
    width: 70%;
}
.footer_bottom_block_right{
    float: right;
    width: 30%;
}
/*about page*/
.about_page{
    padding: 30px 50px;
}
/*service page*/
.service_page{
    padding: 30px 50px;
}
/*promo page*/
.promo_page{
    padding: 30px 50px;
}
.promo a, .hit a{
	color: #fff;
}
.contacts a{
	color: #000;
}
/*contacts page*/
.contacts_page{
    padding: 30px 50px;
}
.contacts_page a{
	color: #000;
}
.contacts_page .cont_article{
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}
.metro_1{color:#B100DD;}
.metro_2{color:#89CDCF;}
.metro_3{color:#FC9B9B;}
.metro_4{color:#0047FF;}
.metro_5{color:#075F05;}
.metro_6{color:#FF0000;}

/*sertificat_page*/
.sertificat a{
	color: #000;
	text-decoration: underline;
}
.top_block_sert{
    padding: 0 0 50px 0;
}
.top_block_sert2{
	text-align: center;
	padding: 30px 0 0 0;
}
.top_block_sert2 a{
	padding: 10px;
}
.top_block_sert_img1{
    padding: 0 0 30px 0;
}
/*reviews page*/
.reviews_page{
    padding: 30px 50px;
}
/*basket page*/
.basket_page{
    padding: 30px 50px;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket_empty{
    text-align: center;
}
.basket_header{
    padding-bottom: 30px;
}
.basket_empty h2{
    font-size: 30px;
}
.basket_button a{
    padding: 10px 50px;
    border: 1px solid #F0AB00;
    border-radius: 6px;
}
/*delivery page*/
.delivery_page{
    padding: 30px 50px;
}
.delivery_page_slider{
    text-align: center;
    padding: 30px 0 30px 0;
}
/*order page*/
#bx-soa-order{
    padding: 30px 0;
}
.order_done{
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.order_done .row{
    width: 50%;
}
/*profile*/
.bx_profile{
    width: 90%;
    padding: 20px 0;
}
.bx_profile .form-group{
    padding: 5px 0;
    text-align: center;
}
.bx_profile .form-control{
    width: 50%;
}
.bx_profile .main-profile-form-label{
    padding-right: 10px;
}
.bx_profile .main-profile-social-block{
    display: none;
}
.bx_profile .main-profile-form-buttons-block{
    text-align: right;
    padding: 20px 0;
    width: 60%;
}
/**/

.box2 {
    height: 120px;
    background: url(/img/bg_headerer_mob.png);
    color: #fff;
    padding: 0 5px 0 5px;
    text-align: center;
}
.box3 {
    height: 775px;
}
.blockHeader{
    background: #1A1A1A;
    height: 42px;
    color: #F0AB00;
}
.blockProductHead{
    background: #3B3B3B;
    height: 19px;
}

/*Head menu*/
.headMenu {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 700;
    grid-template-areas:
    "a a b c c"
    "d d e e f";
    font-size: 12px;
    height: 160px;
    padding-top: 47px;
}
.headMenuBox1{
    grid-area: a;
    padding: 0;
    background: url(/img/logo.png);
    background-repeat: no-repeat;
    width: 280px;
    height: 66px;
}
.headMenuBox2{
    grid-area: b;
    height: 37px;
}
.headMenuBox3{
    grid-area: c;
    padding: 16px 9px 0 0;
    height: 37px;
}
.headMenuBox4{
    display: none;
}
.headMenuBox5{
    display: none;
}
/*Second blocks*/
.blockProductHead p{
    color: #F0AB00;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding-top: 2px;
    margin: 0;
}
.blockHeader p{
    margin: 0px;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 0 0 15px;
}
.box2 h2{
    font-size: 14px;
    padding-top: 5px;
}
.box2 p{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.logo_mob{
    width: 38px;
    height: 31px;
    margin-top: 6px;
}
.search_mob, .compare_mob, .basket_mob{
    padding-left: 13px;
}

/*Helper clases*/
.center{
    text-align: center;
    margin: 0 auto;
}
.btn{
    padding: 6px 65px;
    background: #F0AB00;
    border-color: #F0AB00;
    border-radius: 5px;
    font-size: 17px;
}
.btn:hover{
    padding: 6px 65px;
    background: #a87f17;
    border-color: #a87f17;
    border-radius: 5px;
    font-size: 17px;
}
.text{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.text-padding{
    padding: 50px 0 20px 15px;
}

.hit .product-item-title a{
    color: #000;
}
.head_mobile, .head_menu_mobile{
    display:none;
}
@media screen and (max-width: 480px){
    body {
        width: 100%;
        padding: 0 15px
    }
    .head, .menu, .bx-breadcrumb, .bannerBlock{
        display: none;
    }
    .head_mobile, .head_menu_mobile{
        display: block;
    }
    .logo_mobile{
        width: 100%;
        text-align: center;
    }
    .box2 {
        height: 120px;
        background: url(/img/bg_head_mob.png);
        color: #fff;
        padding: 0 5px 0 5px;
        text-align: center;
    }
    .box3 {
        height: 775px;
    }
    .blockHeader{
        background: #1A1A1A;
        height: 42px;
        color: #F0AB00;
    }
    .blockProductHead{
        background: #3B3B3B;
        height: 19px;
    }
    .smartSearch .js-smartSearch-input, .smartSearch .js-smartSearch-submit{
        font-size: 14px;
    }
    .region_mobile{
        font-size: 14px;
        padding-top: 15px
    }   
    .head_phone{
        font-size: 20px;
    }
    .header_flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    .head_contacts_mobile{
        align-self: end;
    }
    /**/
    .head_menu_mobile{
        padding: 10px 0 20px 0;
    }
    .head_menu_mobile .topnav {
        position: relative;
    }
    .head_menu_mobile .topnav #menu_mobile_links {
        display: none;
        width: 250px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding-top: 20px;
    }
    .head_menu_mobile .topnav a {
        padding: 5px 20px;
        font-size: 15px;
        text-decoration: none;
        display: block;
    }
    .head_menu_mobile .topnav .head_menu_link{
        padding: 0;
        font-size: 20px;
    }
    .head_menu_mobile .topnav a.icon {
        display: block;
    }
    .product-item-detail-pay-block {
        justify-content: space-between;
    }
    /**/
    .caption a, .caption h1, .caption h2 {
        font-size: 15px;
        padding-left: 15px;
    }
    .catalog {
        display: block;
    }
    .hit {
        padding: 0;
    }
    .reviews_backcall, .reviews_email{
        display: block;
    }
    /*Head menu*/
    .headMenu {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        font-weight: 700;
        grid-template-areas:
        "a a b c c"
        "d d e e f";
        font-size: 12px;
        height: 90px;
        padding-top: 10px;
    }
    .headMenuBox1{
        grid-area: a;
        padding: 16px 0 0 11px;
        height: 37px;
        background: url(/img/logo_mob.png);
        background-repeat: no-repeat;
    }
    .headMenuBox2{
        grid-area: b;
        height: 37px;
    }
    .headMenuBox3{
        grid-area: c;
        padding: 16px 9px 0 0;
        height: 37px;
    }
    .headMenuBox4{
        grid-area: d;
        padding: 22px 0 22px 15px;
        display: block;
    }
    .headMenuBox5{
        grid-area: f;
        padding: 16px 9px 0 0;
        display: block;
    }
    /**/
    .bx_catalog_tile_ul,.bx_catalog_tile{
        width: 100%;
    }
    .bx_catalog_tile_ul li{
        text-align: center;
        width: 100%!important;
    }
    .bx-filter{
        width: 100%;
    }
    .bx-touch .product-item{
        width: 360px;
    }
    .product-item-title{
        text-align: center;
    }
    /**/
    .footer {
        height: auto;
    }
    /*Second blocks*/
    .blockProductHead p{
        color: #F0AB00;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        padding-top: 2px;
        margin: 0;
    }
    .blockHeader p{
        margin: 0px;
        font-size: 17px;
        font-weight: 700;
        padding: 10px 0 0 15px;
    }
    .box2 h2{
        font-size: 14px;
        padding-top: 5px;
    }
    .box2 p{
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
    }
    .logo_mob{
        width: 38px;
        height: 31px;
        margin-top: 6px;
    }
    .search_mob, .compare_mob, .basket_mob{
        padding-left: 13px;
    }

    /*Helper clases*/
    .center{
        text-align: center;
        margin: 0 auto;
    }
    .btn{
        padding: 6px 65px;
        background: #F0AB00;
        border-color: #F0AB00;
        border-radius: 5px;
        font-size: 17px;
    }
    .text{
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
    .text-padding{
        padding: 50px 0 20px 15px;
    }
    .oferta_block {
        width: 100%;
    }
    .footer_social{
        width: 100%;
    }
    .footer_content_oferta{
        justify-content: center;
    }
    .footer_catalog_block{
        text-align: center;
        width: 100%;
    }
    .pay_system_mobile{
        display: none;
    }
}